#
# 1. Use "#" and " ''' " will not be parsed.
#

Flags: {
    # IMAGE, VIDEO, URL, WEBCAM
    MediaType: WEBCAM

    IMAGE_CONFIG:{
        InputFile: hand_image.jpg
        InputPath: /home/jdwei/Desktop/github/AI_Object_Identification_v1_tmp/AI_gesture_obj/images
        TextPath: /home/jdwei/Desktop/github/AI_Object_Identification_v1_tmp/AI_gesture_obj/images/IMAGE_Time.txt
        Resize:{
            Width: 640
            Height: 480
        }
        Hand_Area:{
            Width: 250
            Height: 250
            # Green
            Shift:{
                Horizontial: 130
                Vertical: 0
            }
        }
        Object_Area:{
            Width: 250
            Height: 250
            # Red
            Shift:{
                Horizontial: -130
                Vertical: -50
            }
        }
        Finger:{
            Target: 3
        }

    }
    VIDEO_CONFIG:{
        InputFile: hand_video.mp4
        InputPath: /home/jdwei/Desktop/github/AI_Object_Identification_v1_tmp/AI_gesture_obj/images
        TextPath: /home/jdwei/Desktop/github/AI_Object_Identification_v1_tmp/AI_gesture_obj/images/VIDEO_Time.txt
        Hand_Area:{
            Width: 350
            Height: 350
            # Green
            Shift:{
                Horizontial: 0
                Vertical: 150
            }
        }
        Object_Area:{
            Width: 350
            Height: 200
            # Red
            Shift:{
                Horizontial: 0
                Vertical: -130
            }
        }
        Finger:{
            Target: 3
            Time: 2
        }
    }
    URL_CONFIG:{
        URL: https://www.youtube.com/watch?v=8tpxwFEIxi0
        OutputFile: url_output.mp4
        OutputPath: /home/jdwei/Desktop/github/AI_Object_Identification_v1_tmp/AI_gesture_obj/images
        TextPath: /home/jdwei/Desktop/github/AI_Object_Identification_v1_tmp/AI_gesture_obj/images/URL_Time.txt
        Hand_Area:{
            Width: 200
            Height: 200
            Shift:{
                Horizontial: 0
                Vertical: 150
            }
        }
        Object_Area:{
            Width: 200
            Height: 150
            Shift:{
                Horizontial: 0
                Vertical: -50
            }
        }
        Finger:{
            Target: 3
            Time: 2
        }
    }
    WEBCAM_CONFIG:{
        WEBCAM: 0
        OutputFile: webcam_output.mp4
        OutputPath: /home/jdwei/Desktop/github/AI_Object_Identification_v1_tmp/AI_gesture_obj/images
        TextPath: /home/jdwei/Desktop/github/AI_Object_Identification_v1_tmp/AI_gesture_obj/images/WEBCAM_Time.txt
        Hand_Area:{
            Width: 250
            Height: 250
            Shift:{
                Horizontial: -175
                Vertical: 0
            }
        }
        Object_Area:{
            Width: 250
            Height: 250
            Shift:{
                Horizontial: 175
                Vertical: 0
            }
        }
        Finger:{
            Target: 3
            Time: 3
        }
    }

    # Detect hand
    DetectHnad: True     
    # Detect object 
    DetectObject: True  
    # output the predicted result to image or video file
    OutputToFile: True     
    # Do you want to show the image on LCD? 
    DisplayScreen: True  

    # Google API Lience
    GLience: /home/jdwei/Desktop/github/AI_Object_Identification_v1_tmp/AI_gesture_obj/Gesture-Object-Recognition-a90ad9774b33.json
    
    
}
